registry "https://registry.npmmirror.com"
# registry "https://registry.npmjs.org"
sass_binary_site "https://cdn.npmmirror.com/binaries/node-sass"
phantomjs_cdnurl "https://cdn.npmmirror.com/binaries/phantomjs"
