.rvr-route-popup-mask, .rvr-route-popup-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  outline: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-overflow-scrolling: touch;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-transform: translateZ(1px);
          transform: translateZ(1px);
}

.rvr-route-popup {
  width: 100%;
  height: 100%;
}

.rvr-route-popup-content {
  position: relative;
  background-color: #fff;
  background-clip: padding-box;
  height: 100%;
}

.rvr-route-popup-body {
  -webkit-margin-collapse: discard;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.rvr-slide-right-enter,
.rvr-slide-right-appear {
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
}
.rvr-slide-right-enter,
.rvr-slide-right-appear,
.rvr-slide-right-leave {
  -webkit-animation-duration: .2s;
          animation-duration: .2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.rvr-slide-right-enter.rvr-slide-right-enter-active,
.rvr-slide-right-appear.rvr-slide-right-appear-active {
  -webkit-animation-name: rvrSlideRightIn;
          animation-name: rvrSlideRightIn;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.rvr-slide-right-leave.rvr-slide-right-leave-active {
  -webkit-animation-name: rvrSlideRightOut;
          animation-name: rvrSlideRightOut;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes rvrSlideRightIn {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes rvrSlideRightIn {
  0% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes rvrSlideRightOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}
@keyframes rvrSlideRightOut {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
}
