.idea/
node_modules/
node_modules1/
!node_modules_new/
!node_modules_old/
dist/
dist1/
temp/
*/.idea/
*/node_modules/
analyzer/
*/analyzer/
!*/node_modules_new/
!*/node_modules_old/
*/dist/
*/dist1/
!*/vue-validator/dist/
.DS_Store
*/.DS_Store
!*/package_new.json
!*/package_old.json
natives
*/natives/

